<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row ">
            <div class=" col-8 offset-2">
                <br>

                <!-- <h3 >Listing Details</h3> -->
                <div class="card col-10 mt-3 show-card">
                    <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing">
                    <div class="card-body">
                        <p class="card-text"><b>
                                <%= listing.title %></b> <br>
                                <%= listing.description %> <br>
                               &#8377; <%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %> / night
 <br>
                                <%= listing.location %> <br>
                                <%= listing.country %>


                        </p>
                    </div>
                </div>


                <div class="btns mb-5">
                    <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 mb-2 ">Edit</a>
                    <br><br>
                    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                        <button class="btn btn-dark  offset-3">Delete</button>
                    </form>
               
                </div>
            </div>
        </div>
    </body>